*
!.gitignore
!.prettier*
!tslint*
!tsconfig*
!Readme*
!next.config*
!package*.json
!now.json
!pages
!pages/**
!components
!components/**
!public
!public/**
!config
!config/**
!api
!api/**
!types
!types/**
