*
!.babelrc
!.gitignore
!.prettier*
!Readme*
!codegen.yml
!getContentful*
!next.config*
!now.json
!package*.json
!tslint*
!tsconfig*
!components
!components/**
!contentful
!contentful/**
!graphql
!graphql/**
!pages
!pages/**
!public
!public/**
**/.tern*
