/*
This is free and unencumbered software released into the public domain.
Anyone is free to copy, modify, publish, use, compile, sell, or
distribute this software, either in source code form or as a compiled
binary, for any purpose, commercial or non-commercial, and by any
means.
For more information, please refer to <http://unlicense.org/>

WiTeX
https://github.com/AndrewBelt/WiTeX
Latin Modern (LaTeX default) font */
@font-face {
  font-family: 'Latin Modern Roman';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/lmroman10-regular.woff) format('woff');
}
@font-face {
  font-family: 'Latin Modern Roman';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/lmroman10-bold.woff) format('woff');
}
@font-face {
  font-family: 'Latin Modern Roman';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url(../fonts/lmroman10-italic.woff) format('woff');
}
@font-face {
  font-family: 'ia_writer_duospaceregular';
  src: url('../fonts/iawriterduospace-regular-webfont.woff2') format('woff2'),
    url('../fonts/iawriterduospace-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --bg-cold: #f7f7f7;
  --bg-warm: #f7f3eb;
  --bg-warmer: #f7eddb;
  --link: #a00;
  --link-hover: #ca2f2f;
  --color: black;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 1.2rem;
}
body,
html {
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--bg-warm);
  font-family: 'Latin Modern Roman', serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  border: none;
  font-weight: 700;
}
a,
a:visited {
  color: var(--link);
}
a:hover,
a:focus {
  color: var(--link-hover);
}
ul {
  list-style: disc;
}
dl dd {
  text-align: center;
}
h1 {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color);
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  line-height: 3.1rem;
}
h2 {
  line-height: 2rem;
}
sup {
  vertical-align: top;
}
blockquote {
  font-size: 1.2rem;
  line-height: 1.8rem;
}
pre,
pre[class*='language-'],
code,
code[class*='language-'] {
  font-family: 'ia_writer_duospaceregular', monospace;
  font-size: 0.8rem;
}

code[class*='language-'],
pre[class*='language-'] {
  color: var(--bg-warm);
  text-align: left;
}

pre[class*='language-'],
:not(pre) > code[class*='language-'] {
  background: var(--color);
}

@media (max-width: 600px) {
  html {
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
    line-height: 2.7rem;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color);
    color: var(--bg-warm);
  }
  a,
  a:visited {
    color: var(--link-hover);
  }
  a:hover,
  a:focus {
    color: var(--link);
  }
  h1 {
    border-color: var(--bg-warm);
  }
}
